[package]
categories = ["config"]
description = "An unopinionated library for obtaining configuration, data and cache directories"
documentation = "https://docs.rs/etcetera"
edition = "2018"
homepage = "https://github.com/lunacookies/etcetera"
license = "MIT OR Apache-2.0"
name = "etcetera"
readme = "README.md"
repository = "https://github.com/lunacookies/etcetera"
version = "0.4.0"

[dependencies]
cfg-if = "1.0.0"
home = "0.5.4"
thiserror = "1.0.22"
